{% include base.html %}
<nav>
  <div style="float:left">
  <a href="{{base}}/index"><h1 style='margin-left:-30%'>{{site.data.theme.name}}</h1></a>
  <a href="{{base}}/index"><img style='height: 75%; width: 75%; border-radius: 50%; margin-left:-1%; object-fit: contain' class="img-circle avatar" src="{{base}}/assets/pic.png" id="logo" alt="Blog logo"/></a>
  </div>

  <div id="bio">
      <br>
    <!--p><code>machine leanring<br>education at scale<br>DIY electronics.</code></p>-->
  </div>

  <div id="links">
    <a href="{{base}}/index">home</a></br>
    <a href="{{base}}/projects">projects</a></br>
    <a href="{{base}}/blog">blog</a></br>
    <a href="{{base}}/assets/cv.pdf" target="_blank">cv</a></br>


  </div>
  
  </br></br>
  
  <div id="social">
    {% include social.html %}
  </div>
</nav>
