<nav>
  <div style="float:left">
  <h1>{{site.data.theme.name}}</h1>
  </div>

  <div id="bio">
    <p><code>machine leanring<br>education at scale<br>DIY electronics.</code></p>
  </div>

  <div id="links">
    <a href="#about">about</a></br>
    <a href="#research_interests">research</a></br>
    <a href="other_interests">other interests</a></br>
    <a href="/blog">blog</a></br>
    <a href="/cv.pdf">cv - updated</a></br>


  </div>
  
  </br></br>
  
  <div id="social">
    {% include social.html %}
  </div>
</nav>
