{% include base.html %}
<nav>
  <div style="float:left">
  <h1 style='margin-left:-25%'>{{site.data.theme.name}}</h1>
  <img style='height: 75%; width: 75%; border-radius: 50%; margin-left:-1%; object-fit: contain' class="img-circle avatar" src="{{base}}/assets/pic.png" id="logo" alt="Blog logo"/>
  </div>

  <div id="bio">
      <br>
    <!--p><code>machine leanring<br>education at scale<br>DIY electronics.</code></p>-->
  </div>

  <div id="links">
    <a href="/index">home</a></br>
    <a href="/projects">projects</a></br>
    <a href="/blog">blog</a></br>
    <a href="/cv.pdf">cv - updated</a></br>


  </div>
  
  </br></br>
  
  <div id="social">
    {% include social.html %}
  </div>
</nav>
